<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>User property</title>
</head>

<body>

<div class="container">

    <h3>User Directory</h3>
    <hr>

    <p class="h4 mb-4">Save/Update User</p>

    <form action="#" th:action="@{/admin/saveUser}"
          th:object="${user}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{userName}"
               class="form-control mb-4 col-4" placeholder="login">

        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4" placeholder="First name">

        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="Last name">

        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email">

        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="password">

        <label for="roles">User roles (multiple select):</label>
        <br/>
        <select id="roles" required multiple="multiple" class="form-control mb-4 col-4" name="roles">

            <option th:each="role : ${roles}"
                    th:value="${{role.id}}"
                    th:selected="${#lists.contains(user.roles,role)}"
                    th:text="${role.name}"></option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>

    <a th:href="@{/admin/list}">Back to User List</a>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>

    </form>

</div>

</body>

</html>










